In [22]:
import json
import pandas as pd

In [15]:
x = '''{
  "routes": [
    {
      "id": 1,
      "start": {
        "ID": 10,
        "CreatedAt": "2023-05-09T11:00:12.181975+03:30",
        "UpdatedAt": "2023-05-09T11:00:12.181975+03:30",
        "DeletedAt": null,
        "x": 955,
        "y": -862
      },
      "stop": {
        "ID": 6,
        "CreatedAt": "2023-05-09T11:00:11.2225+03:30",
        "UpdatedAt": "2023-05-09T11:00:11.2225+03:30",
        "DeletedAt": null,
        "x": -584,
        "y": 872
      }
    },
    {
      "id": 2,
      "start": {
        "ID": 10,
        "CreatedAt": "2023-05-09T11:00:12.181975+03:30",
        "UpdatedAt": "2023-05-09T11:00:12.181975+03:30",
        "DeletedAt": null,
        "x": 955,
        "y": -862
      },
      "stop": {
        "ID": 4,
        "CreatedAt": "2023-05-09T11:00:08.386891+03:30",
        "UpdatedAt": "2023-05-09T11:00:08.386891+03:30",
        "DeletedAt": null,
        "x": 475,
        "y": -265
      }
    }
  ],
  "searches": [
    {
      "x1": -545,
      "y1": -850,
      "x2": -215,
      "y2": 471
    },
    {
      "x1": 877,
      "y1": 239,
      "x2": -594,
      "y2": -762
    },
    {
      "x1": 171,
      "y1": -629,
      "x2": 40,
      "y2": -741
    }
  ]
}'''

In [16]:
data = json.loads(x)

In [17]:
print('x: ',type(x))

x:  <class 'str'>

In [19]:
print(data["routes"])

[{'id': 1, 'start': {'ID': 10, 'CreatedAt': '2023-05-09T11:00:12.181975+03:30', 'UpdatedAt': '2023-05-09T11:00:12.181975+03:30', 'DeletedAt': None, 'x': 955, 'y': -862}, 'stop': {'ID': 6, 'CreatedAt': '2023-05-09T11:00:11.2225+03:30', 'UpdatedAt': '2023-05-09T11:00:11.2225+03:30', 'DeletedAt': None, 'x': -584, 'y': 872}}, {'id': 2, 'start': {'ID': 10, 'CreatedAt': '2023-05-09T11:00:12.181975+03:30', 'UpdatedAt': '2023-05-09T11:00:12.181975+03:30', 'DeletedAt': None, 'x': 955, 'y': -862}, 'stop': {'ID': 4, 'CreatedAt': '2023-05-09T11:00:08.386891+03:30', 'UpdatedAt': '2023-05-09T11:00:08.386891+03:30', 'DeletedAt': None, 'x': 475, 'y': -265}}]

In [20]:
print(data["searches"])

[{'x1': -545, 'y1': -850, 'x2': -215, 'y2': 471}, {'x1': 877, 'y1': 239, 'x2': -594, 'y2': -762}, {'x1': 171, 'y1': -629, 'x2': 40, 'y2': -741}]

In [29]:
df = pd.read_json(x, orient='index')

In [30]:
print(df)

                                                          0  \
routes    {'id': 1, 'start': {'ID': 10, 'CreatedAt': '20...
searches    {'x1': -545, 'y1': -850, 'x2': -215, 'y2': 471}

                                                          1  \
routes    {'id': 2, 'start': {'ID': 10, 'CreatedAt': '20...
searches     {'x1': 877, 'y1': 239, 'x2': -594, 'y2': -762}

                                                      2
routes                                             None
searches  {'x1': 171, 'y1': -629, 'x2': 40, 'y2': -741}